# Dependencies
node_modules
.pnpm-store

# Build output
dist
build
target

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Tooling caches
.turbo
.cache
*.tsbuildinfo
